<nav>
  <div class="nav-wrapper blue darken-3">
    <a routerLink="" class="brand-logo" style="margin-left: 1rem; font-size: 17px">Главная страница</a>
    <a routerLink="" class="sidenav-trigger" data-target="mobile-links">
      <i class="material-icons">menu</i>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/temperature">Температура</a>
      </li>
      <li routerLinkActive="active"><a routerLink="/precipitation">Осадки</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-links" #sidenav>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/temperature">Температура</a>
  </li>
  <li routerLinkActive="active"><a routerLink="/precipitation">Осадки</a></li>
</ul>
