<div class="input-field col s12 m6">
  <select class="browser-default">
    <option value="" disabled selected>1881</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
  </select>
</div>
<div class="input-field col s12 m6">
  <select class="browser-default">
    <option value="" disabled selected>2006</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
  </select>
</div>
